{% extends "core/model_detail.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}
{{ ct_tournament.name|capfirst }} -
{% trans "Round" %} {{ ct_round.name|capfirst }} -
{% trans "Group" %} {{ object.name }}
{% endblock %}

{% block object_fields %}
<tr><th>{% trans "Teams" %}</th><td>{{ object.nb_teams }}</td></tr>
<tr><th>{% trans "Date" %}</th><td>{{ object.date }}</td></tr>
<tr><th>{% trans "Time Start" %}</th><td>{{ object.time_start }}</td></tr>
<tr><th>{% trans "Time End" %}</th><td>{{ object.time_end }}</td></tr>
<tr><th>{% trans "Is current" %}</th><td>{{ object.current }}</td></tr>
<tr><th>{% trans "Is Finished" %}</th><td>{{ object.finished }}</td></tr>
{% endblock object_fields %}

{% block extra_object_infos %}

{% include "tournament_schenkel/snippets/final_blocked_snippet.html" %}

{% include "core/snippets/messages_snippet.html" %}


{% if object.finished %}
<h3>{% trans "Results" %} :</h3>
<table class="table table-striped table-bordered table-vertical-align">
  <thead>
	<tr>
	  <th class="text-center">{% trans "Sheet" %}</th>
	  <th class="text-center">{% trans "Team" %} 1</th>
	  <th class="text-center">{% trans "Points" %}</th>
	  <th class="text-center">{% trans "Ends" %}</th>
	  <th class="text-center">{% trans "Stones" %}</th>
	  <th class="text-center">{% trans "Team" %} 2</th>
	  <th class="text-center">{% trans "Points" %}</th>
	  <th class="text-center">{% trans "Ends" %}</th>
	  <th class="text-center">{% trans "Stones" %}</th>
	</tr>
  </thead>
  <tbody>
  	{% for match in object.matches_list %}
  	{% with match.get_complete_results as result_match %}
	<tr>
	  <td class="text-center">{{ match.sheet.name }}</td>
	  <td>{{ result_match.team_1.team.name }}</td>
	  <td class="text-center">{{ result_match.team_1.points }}</td>
	  <td class="text-center">{{ result_match.team_1.ends }}</td>
	  <td class="text-center">{{ result_match.team_1.stones }}</td>
	  <td>{{ result_match.team_2.team.name }}</td>
	  <td class="text-center">{{ result_match.team_2.points }}</td>
	  <td class="text-center">{{ result_match.team_2.ends }}</td>
	  <td class="text-center">{{ result_match.team_2.stones }}</td>
	</tr>
	{% endwith %}
	{% endfor %}
  </tbody>
</table>

{% include "tournament_schenkel/snippets/ranking_snippet.html" %}

{% else %}
<h3>{% trans "Matches" %} :</h3>
<table class="table table-striped table-bordered table-vertical-align">
  <thead>
	<tr>
	  <th>{% trans "Sheet" %}</th><th>{% trans "Team" %} 1</th><th>{% trans "Team" %} 2</th>
	</tr>
  </thead>
  <tbody>
	{% for match in object.matches_list %}
	<tr>
	  <td>{{ match.sheet.name }}</td>
	  <td>{% if match.team_1 %}{{ match.team_1 }}{% else %}-{% endif %}</td>
	  <td>{% if match.team_2 %}{{ match.team_2 }}{% else %}-{% endif %}</td>
	{% empty %}
	<tr><td colspan="3"><em>{% trans "No matches available." %}</em></td></tr>
	{% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock extra_object_infos %}

{% block object_extra_actions %}
{% if object.current or object.finished %}
<a class="btn btn-block btn-large btn-success"
   href="{% url 'tournament_schenkel:schenkelgroup-scoring-board' ct_tournament.pk ct_round.pk object.pk %}">
  <i class="icon-tasks icon-white"></i> {% trans "Scoring Board" %}</a>

{% else %}
{% if object.is_ready %}
<a class="btn btn-block btn-large btn-success"
   href="{% url 'tournament_schenkel:schenkelgroup-start-matches' ct_tournament.pk ct_round.pk object.pk %}">
  <i class="icon-play icon-white"></i> {% trans "Start matches" %}</a>
{% endif %}{% endif %}
{% endblock object_extra_actions %}
