{% extends 'core/layouts/left_sidebar_layout.html' %}

{% block center_layout %}
MODEL LIST
{% if ct_model_list %}
SNIPPET : {{ ct_model_list.snippet }}
{% include ct_model_list.snippet %}
{% else %}
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p><strong>List View - Improperly configured!</strong></p>
  <p>If you want use the default model list template, you need to
  define a custom <code>model_list_snippet.html</code> template and
  set the <code>snippet_model_list</code> variable in your view.</p>
  <p>Else you can override the complete <code>model_list.html</code>
  template and define the <code>center_layout</code> block.</p>
</div>
{% endif %}
{% endblock %}
