{% extends 'core/layouts/left_sidebar_layout.html' %}
{% load url from future %}
{% load i18n list_view_tags %}

{% block center_layout %}

{% block title_container %}
<div class="page-header">
  <h2>{% block title %}List of {{ ct_model.verbose_name_plural }}{% endblock title %}</h2>
</div>
{% endblock title_container %}

{% block global_list_container %}
<div class="row-fluid">
  <div class="span9">
	{% block list_container %}
	<table class="table table-striped table-bordered table-hover table-vertical-align">
	  <thead>
		{% block list_header %}
		<tr>
		  <th>{{ ct_model.verbose_name|capfirst }}</th>
		  <th style="width: 20%; text-align: center;">{% trans "Actions" %}</th>
		</tr>
		{% endblock list_header %}
	  </thead>
	  <tbody>
		{% block list_objects_container %}
		{% for object in object_list %}
		<tr>
		  {% block list_object %}
		  <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
		  <td style="text-align: center;">
			{% block list_object_actions %}
			<a class="btn btn-primary" href="{{ object.get_absolute_edit_url }}" title="{% trans 'Edit' %}"><i class="icon-edit icon-white"></i></a>
			<a class="btn btn-danger" href="{{ object.get_absolute_delete_url }}" title="{% trans 'Delete' %}"><i class="icon-trash icon-white"></i></a>
			{% endblock list_object_actions %}
		  </td>
		  {% endblock list_object %}
		</tr>
		{% endfor %}
		{% endblock list_objects_container %}
	  </tbody>
	</table>
	{% endblock list_container %}
  </div>
  {% block list_tools_container %}
  <div class="span3">
	{% block add_button_container %}
	<div class="text-center" style="margin-bottom: 15px;">
	  <a class="btn btn-success btn-large"
		 href="{% block add_button_url %}{{ ct_model|default_add_url }}{% endblock add_button_url %}">
		<i class="icon-plus icon-white"></i>&nbsp;{% trans "Add" %}&nbsp;{{ ct_model.verbose_name|capfirst }}
	  </a>
	</div>
	{% endblock add_button_container %}
	{% block extra_actions %}{% endblock extra_actions %}
	<div class="well well-small">
	  {% block list_tools %}
	  <h5>Search</h5>
	  <div class="input-append">
		<input class="span8" type="search">
		<button class="btn" type="button"><i class="icon-remove"></i></button>
		<button class="btn" type="button"><i class="icon-search"></i></button>
	  </div>
	  <h5>Filters</h5>
	  <p>...</p>
	  {% endblock list_tools %}
	</div>
  </div>
  {% endblock list_tools_container %}
</div>
{% endblock global_list_container %}

{% endblock center_layout %}
