{% extends 'core/layouts/left_sidebar_layout.html' %}
{% load i18n %}

{% block center_layout %}

{% block title_container %}
<div class="page-header">
  <h2>{% block title %}{{ ct_model.verbose_name|capfirst }} : {{ object }}{% endblock title %}</h2>
</div>
{% endblock title_container %}

{% block global_object_container %}
<div class="row-fluid">
  <div class="span9">
	{% block object_container %}
	<table class="table table-striped table-bordered table-hover">
	  {% block object_fields %}
	  {% endblock object_fields %}
	</table>
	{% endblock object_container %}
  </div>
  {% block object_actions_container %}
  <div class="span3 well well-small">
	{% block object_actions %}
	<h5>{% trans "Actions" %}</h5>
	<div class="btn-group btn-group-vertical">
	  <a class="btn btn-primary" href="{{ object.get_absolute_edit_url }}">{% trans "Edit" %}</a>
	  <a class="btn btn-danger" href="{{ object.get_absolute_delete_url }}">{% trans "Delete" %}</a>
	</div>
	{% endblock object_actions %}
  </div>
  {% endblock object_actions_container %}
</div>
{% endblock global_object_container %}

{% endblock %}
