/*
 ** Style for Nav List Header Link
 ** with accordion features.
 */
.accordion-group li.nav-header a { color: inherit; }

.text-center {
	text-align: center;
}

table {
	&.table-vertical-align {
		td, th {
			vertical-align: middle;
			address {
				margin-bottom: 0px;
			}
		}
	}
}
