{# SUBMENU + COLLAPSE #}
{% comment %}
Bug Fix : This DIV allows to use the data-parent property
(and add 'accordion-patch' to delete group style).
{% endcomment %}

<div class="accordion-group patch">
{% for item in ct_submenu.items %}
  <ul class="nav nav-list">
	<li class="nav-header"
		data-toggle="collapse"
		data-parent="#ct-left-sidebar-layout"
		data-target="#submenu{{ forloop.counter }}">
	  <a href="#">{{ item.title }}</a>
	</li>
	{% if not forloop.last %}<li class="divider"></li>{% endif %}
  </ul>
  <ul class="nav nav-list collapse{% if forloop.first %} in{% endif %}"
	  id="submenu{{ forloop.counter }}">
	{% if forloop.last %}<li class="divider"></li>{% endif %}
	{% for link in item.links %}
	<li><a href="{{ link.url }}">{{ link.title }}</a></li>
	{% endfor %}
	{% if not forloop.last %}<li class="divider"></li>{% endif %}
  </ul>
{% endfor %}
</div>
