{% extends "core/model_detail.html" %}
{% load i18n %}
{% load url from future %}

{% block object_fields %}
<tr><th>{% trans "Tournament" %}</th><td>{{ object.tournament }}</td></tr>
<tr><th>{% trans "Name" %}</th><td>{{ object.name }}</td></tr>
<tr><th>{% trans "Level" %}</th><td>{{ object.level }}</td></tr>
<tr><th>{% trans "Type" %}</th><td>{{ object.get_type_display }}</td></tr>
{% endblock object_fields %}

{% block extra_object_infos %}
<h3 class="text-center">{% trans "Rounds" %}</h3>
<table class="table table-striped table-bordered table-hover table-vertical-align">
  <thead>
	<tr><th>{% trans "Group" %}</th><th>{% trans "Date" %}</th><th>{% trans "Time" %}</th></tr>
  </thead>
  <tbody>
	{% for round in object.rounds_list %}
	<tr>
	  <td>
		<a href="{{ round.get_absolute_url }}">
		  {% trans "Group" %}&nbsp;{{ round.group.name }}</a>
	  </td>
	  <td>{{ round.date|date:"d/m/y" }}</td>
	  <td>{{ round.time_start|time:"H:i" }}</td>
	</tr>
	{% empty %}
	<tr class="error"><td colspan="3" class="text-center"><em>{% trans "No round available" %}</em></td></tr>
	{% endfor %}
  </tbody>
</table>
{% endblock extra_object_infos %}

{% block object_extra_actions %}
<a class="btn btn-block btn-large" href="{% url 'tournament_schenkel:tournament-schenkelround-list' ct_tournament.pk object.pk %}">
  <i class="icon-edit"></i>&nbsp;{% trans "Edit rounds" %}</a>
{% endblock object_extra_actions %}
